audio {
  width: 225px;
}

.title-overlay {
  position: absolute;
  margin-left: 20px;
  font-family: 'Lato';
}

.title-overlay h3 {
  color: #825915;
  font-weight: 500;
}

.title-overlay h4 {
  color: #84909A;
  font-weight: 350;
  text-align: right;
}

.map-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  margin-left: 15px;
  margin-top: 15px;
  overflow: auto;
  border-radius: 3px;
}

.map-overlay h4 {
  color: #825915;
  font-family: 'Lato';
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.map-overlay h5 {
  color: #101112;
  font-family: 'Romana';
  line-height: 22px;
  padding-left: 10px;
  padding-right: 10px;
}

.collapse-btn {
  position: relative;
  background: #84909a;
  color: #142638;
}

.mapboxgl-popup {
  max-width: 250px;
  z-index:1000;
}

.mapboxgl-popup-content {
  /* background: #D1DCE8; */
  text-align: center;
  color: #101112;
  font-family: 'Lato';
  padding: 0px;
}

.far {
  font-family: 'FontAwesome';
  font-style: normal;
}
