/* .marker {
  background-image: url('marker_v2.svg');
  width: 15px;
  height: 15px;
  display: block;
  border: none;
  cursor: pointer;
  padding: 0;
} */

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.btn {
  padding: 15px;
  color: #3E637D;
}

.far {
  font-family: 'FontAwesome';
  font-style: normal;
}

.img {
  padding-bottom: 10px;
}
